.vagrant
.capistrano

node_modules
htdocs/FIRST_INSTALL
htdocs/typo3temp
htdocs/typo3conf/temp_*
htdocs/typo3conf/deprecation_*
htdocs/typo3conf/ENABLE_INSTALL_TOOL
htdocs/typo3conf/ext
htdocs/typo3conf/AdditionalConfiguration.php
htdocs/fileadmin
htdocs/uploads
htdocs/typo3_src
vendor

.idea/tasks.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/encodings.xml
atlassian-ide-plugin.xml

config/database.yml
htdocs/index.php
htdocs/typo3
